<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Fi Thnitek {% endblock %}</title>
    
        
        {% block stylesheets %}
          <link href="{{asset('css/style.css')}}" rel="stylesheet">
      <link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/b.png')}}">

        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('plugins/common/common.min.js')}}"></script>
            <script src="{{asset('js/custom.min.js')}}"></script>
            <script src="{{asset('js/settings.js')}}"></script>
            <script src="{{asset('js/gleek.js')}}"></script>
            <script src="{{asset('js/styleSwitcher.js')}}"></script>
        {% endblock %}
    </head>

<body>
        {% block body %}
        <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                
<form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center"> Sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    

       <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                    </div>
    

<div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
    <div class="col-12">
                                        <p class="small mb-0">Don't have account? <a href="{{ path('registration') }}">Create an account</a></p>
                                    </div>
                            
                                    <div class="col-12">
                                       
                                    
                                    </div>
</form>

   </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endblock %}
    </body>
</html>