{% extends 'fix.html.twig' %}

{% block content %}
    <div class="content-body" style="margin-left:-5px">
        <center style="margin-top:20px;margin-bottom:20px;margin-left:250px"><h3 class="d-inline" style="color:#7571f9;">Liste des réclamations
                <a href='{{path('add_reclamation')}}' class="btn mb-1 btn-info float-right" style="margin-right: 20px"><i class="mdi mdi-plus"></i><span> Ajouter une réclamation</span></a>
            </h3></center>

     <div class="col-lg-6" style="margin-left:200px;margin-right:200px">
                        <div class="card" style="margin-top:40px;margin-bottom:20px;margin-left:70px;margin-right:-300px" >
                            <div class="card-body" >
                                <div class="card-title">
                                    <h4></h4>
                                </div>
                                <div class="table-responsive" >
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>INTITULE</th>
                                                <th>CONTENU</th> 
                                                <th>IMAGE</th>
                                                <th>nom d'utilisateur </th> 
                                                <th>Action</th>                                         
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for r in Reclamations %}
                                            <tr>
                                                <td>{{ r.id }}</td>
                                                <td class="card-text">{{ r.intitule }}</td>
                                                <td class="card-text">{{ r.contenu|slice(0, 50) ~ (r.contenu|length > 50 ? '...' : '') }} </td>
                                                <td class="card-text">
                                                  <img src="{{ asset(r.image) }}" width="120" height="100" alt="Votre image">
                                                 </td>
                                                <td class="card-text">{{ r.idUser.nom }} </td>
                                                

                                                <td>
                                                   <a href='{{path('detail_reclamation' ,{'id':r.id})}}' data-toggle="tooltip" data-placement="top" title="detail"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i></a>
                                                   <a href='{{path('modifier_Rec' ,{'id':r.id})}}' data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i></a>
                                                   <a href='{{path('delete_reclamation' ,{'id':r.id})}}' onclick="return confirm('Voulez-vous vraiment supprimer cette réclamation ?')" data-toggle="tooltip" data-placement="top" title="supprimer">
                                                   <i class="fa fa-close color-danger"></i></a>
                                                </td>
                                                  
                                            </tr>
                                         {% endfor %}          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}