{% extends "fix.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <center style="margin-top:20px;margin-bottom:20px"><h3 class="d-inline" style="color:#7571f9;">Détails sur cet événement</h3></center>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h5 style="color: #76838f;">Le Sponsor : {{ sponsor.sponsor }}, L'adresse : {{ sponsor.adresse}}, L'email' :{{ sponsor.email}}, le montant : {{ sponsor.montant }}DT et la date de signature {{ sponsor.dateSignature.format('Y-m-d') }}</h5>

                        <h4 class="card-title">Les événements de ce sponsor : </h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Titre L'événement</th>
                                    <th>Lieu</th>
                                    <th>Description</th>
                                    <th>Date de l'événement</th>
                                    <th>Nombre de participants</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for e in events %}
                                    <tr>
                                        <td>{{ e.id }}</td>
                                        <td>{{ e.titre }}</td>
                                        <td>{{ e.lieu }}</td>
                                        <td>{{ e.description }}</td>
                                        <td>{{ e.date.format('Y-m-d') }}</td>
                                        <td>{{ e.nbparticipants }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>



{% endblock %}