{% extends "fixadmin.html.twig" %}
    {% block content %}
        


<div class="content-body" style="margin-left:-5px">
        <center style="margin-top:20px;margin-bottom:10px"><h3 class="d-inline" style="color:#7571f9;">Liste des Sondages
                <a href='{{path('app_sondage_new')}}' class="btn mb-1 btn-info float-right" style="margin-right: 20px"><i class="mdi mdi-plus"></i><span> Ajouter un sondage</span></a>
            </h3></center>
        <div class="card" style="margin-left: 20px;margin-right: 20px">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table header-border">
                        <thead>


    <table class="table">
        <thead>
            <tr>
                <th>SondageId</th>
                <th>Sujet</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sondage in sondages %}
            <tr>
                <td>{{ sondage.sondageId }}</td>
                <td>{{ sondage.sujet }}</td>
                <td>{{ sondage.categorie }}</td>
                <td>
                    <a href="{{ path('app_sondage_display', {'sondageId': sondage.sondageId}) }}"><button type="button" class="btn btn-primary">Gérer</button></a>
                    <a href="{{ path('app_sondage_edit', {'sondageId': sondage.sondageId}) }}"><button type="button" class="btn btn-primary">modifier</button></a>
                    <a href="{{ path('app_sondage_delete', {'sondageId': sondage.sondageId}) }}"><button type="button" class="btn btn-primary">supprimer</button></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>       
   
</div>    


    
{% endblock %}



