{% extends 'fixadmin.html.twig' %}

{% block title %}Demandecovoiturage index{% endblock %}

{% block content %}
<style>
    .btn-xd{
        width: 100px; height: 40px; color: white;background-color: #506CDA; border-radius: 8px; cursor:pointer; text-align: center;
        padding: 10px; margin-bottom: 10px;
    }

    tr{
        cursor: pointer;
    }

    tr:hover{
        background-color:#dadada;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        document.getElementsByName("ff").forEach((e) => { 
            e.addEventListener("click", () => {
            console.log(e.id);
            $.ajax({
                    type: 'POST',
                    url: "/demandecovoiturage/supp",
                    data: {
                        "id-res": e.id
                    },
                    success: function(response){
                        window.location.href = response;
                        console.log(response);
                    },
                    error: function(response) {
                        console.log('error');
                    }
                });
        });
    });});

</script>

    <div class="content-body" style="margin-left:-5px">
        <center style="margin-top:20px;margin-bottom:10px"><h3 class="d-inline" style="color:#7571f9;">Liste des Réservations
                <a href='{{path('app_sondage_new')}}' class="btn mb-1 btn-info float-right" style="margin-right: 20px"><i class="mdi mdi-plus"></i><span> Ajouter un sondage</span></a>
            </h3></center>
        <div class="card" style="margin-left: 20px;margin-right: 20px">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table header-border">
                        <thead>


                          <table class="table">
                           <thead> 
    
            <tr>
                <th>#</th>
                <th>Datereservation</th>
               
                <th>idoffre</th>
                <th>user</th>
            </tr>
                           </thead>
        <tbody>
        {% for d in demandes %}
            <tr name="ff" id="{{ d.id }}">
                <td>{{ loop.index0 }}</td>
                <td>{{ d.Datereservation ? d.Datereservation|date('Y-m-d') : '' }}</td>
                <td>{{ d.nbplace }}</td>
                <td>{{ d.idUser.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
           </tbody>
    </table>
    </div>       
   
</div>    



{% endblock %}
