{% extends 'base.html.twig' %}

{% block title %}Demandecovoiturage index{% endblock %}

{% block body %}
    <h1>Demandecovoiturage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datereservation</th>
                <th>Nbplace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandecovoiturage in demandecovoiturages %}
            <tr>
                <td>{{ demandecovoiturage.id }}</td>
                <td>{{ demandecovoiturage.datereservation ? demandecovoiturage.datereservation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demandecovoiturage.nbplace }}</td>
                <td>
                    <a href="{{ path('app_demandecovoiturage_show', {'id': demandecovoiturage.id}) }}">show</a>
                    <a href="{{ path('app_demandecovoiturage_edit', {'id': demandecovoiturage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demandecovoiturage_new') }}">Create new</a>
{% endblock %}
